@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Code Pro', monospace;
    background-color: #393e41;
    color: #f6f7eb;
    min-height: 100vh;
    text-align: center;

    display: flex;
}

main {
    flex: 1;
    padding-top: 1rem;
}

main p {
    margin-top: 0.5rem;
}

h1 {
    font-size: 3rem;
}

.result-paragraph {
    color: #dd3e26;
    font-weight: bold;
}

.big-text {
    font-size: 2rem;
}

#result {
    margin: 10rem 0 2rem 0;
    min-height: 100px;
}

button {
    padding: 0.5rem;
    border: none;
    border-radius: 3px;
    font-size: 5rem;
    background-color: transparent;
    transition: filter 0.2s, transform 0.2s;
}

#restart {
    color: #dd3e26;
    margin-right: auto;
    transition: color 0.2s, transform 0.5s;
}

#restart:hover {
    cursor: pointer;
    color: #fff;
}

#restart:active {
    transform: rotate(360deg);
}

button:hover:not(#restart) {
    cursor: pointer;
    filter: drop-shadow(0 0 10px #dd3e26);
}

button:active:not(#restart) {
    transform: translateY(-10px);
}

button:disabled {
    background-color: #ffffff00;
    cursor: auto;
}